.grid-contenedor {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  text-align: center;
  margin: 50px 50px 50px;
  grid-template-areas: "mainUno mainDos mainTres" "mainCuatro mainCinco mainSeis"; }

.mainUno {
  grid-area: mainUno; }

.mainDos {
  grid-area: mainDos; }

.mainTres {
  grid-area: mainTres; }

.mainCuatro {
  grid-area: mainCuatro; }

.mainCinco {
  grid-area: mainCinco; }

.mainSeis {
  grid-area: mainSeis; }

@media only screen and (max-width: 599px) {
  .main__home {
    width: 320px;
    margin: 10px;
    text-align: center; }
  .imagM {
    display: none; }
  .main__programa {
    display: none; }
  .main__btn {
    display: none; } }

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .imagM {
    display: none; }
  .main__programa {
    height: 440px;
    margin: 10px; }
  .main__btn {
    margin: 50px; } }

@media only screen and (min-width: 1024px) {
  .main__programa {
    height: 350px; } }

@media only screen and (max-width: 599px) {
  .nosotrosH1 {
    width: 350px; }
  .Parraf1 {
    width: 320px; }
  .Parraf2 {
    display: none; }
  .Parraf3 {
    display: none; }
  .grid-contenedor {
    display: none; }
  .about__div {
    display: none; }
  .parrafo {
    width: 320px;
    font-size: 14px;
    margin: 10px; } }

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .about__div {
    display: none; }
  .parrafo {
    margin: 10px; } }

@media only screen and (max-width: 599px) {
  .Contenedor__contacto {
    width: 320px; } }

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .Contenedor__contacto {
    width: 500px;
    margin: 12px; } }

@media only screen and (max-width: 599px) {
  .contenedor h1 {
    display: none; } }

@media only screen and (min-width: 1024px) {
  .contenedor .titulo {
    height: 230px; } }

@media only screen and (max-width: 599px) {
  .studio h1 {
    display: none; }
  .contenedorStudio p {
    display: none; } }

* {
  margin: 0px;
  padding: 0px; }

.main__home {
  background-color: white;
  font-family: "Quicksand", sans-serif;
  margin-top: 70px; }
  .main__home h1 {
    color: #ad7981;
    text-align: center;
    margin-top: 25px;
    background-color: darkslategray;
    margin: 20px;
    font-weight: bold; }
  .main__home .main__home--white {
    color: darkslategray;
    margin: 35px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center; }

.main__home--img {
  display: flex;
  justify-content: space-around; }

.main__btn {
  text-align: center;
  background-color: darkslategray;
  width: 170px;
  height: 40px;
  border-radius: 4px; }
  .main__btn a {
    text-decoration: none;
    font-size: 20px;
    color: #f0b2b2;
    font-family: "Quicksand", sans-serif; }

.boton {
  display: flex;
  justify-content: center; }

.main__programa {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 100px;
  display: flex;
  justify-content: center; }
  .main__programa .main__programa--margin {
    text-align: center;
    font-weight: bold;
    height: 60px;
    margin: 20px;
    color: #ad7981; }
  .main__programa p {
    font-size: 15px;
    color: black;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    margin: 25px;
    width: 600px; }

.contenedor__prog--linea {
  display: flex;
  flex-direction: row; }
  .contenedor__prog--linea h1 {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    background-color: #ad7981;
    height: 200px;
    margin: 10px;
    color: white; }
  .contenedor__prog--linea p {
    margin: 50px;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: bolder; }

.contenedor__prog--row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  text-align: center; }

.main__prog {
  font-family: "Quicksand", sans-serif;
  margin-top: 30px; }
  .main__prog h2 {
    text-align: center;
    margin: 50px;
    background-color: #f3d5d5; }
  .main__prog p {
    margin: 20px; }

.main__prog--bolder {
  font-weight: bolder;
  font-size: 17px;
  text-align: center; }

.formContacto {
  background-image: linear-gradient(to bottom, #df7eb9, #681a4a);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  margin: 20px;
  margin-left: 350px;
  width: 400px;
  width: 45vw;
  border-style: solid;
  border-color: #212f44;
  border-radius: 4px;
  text-align: center; }

.control {
  font-size: 18px; }

.control:focus {
  height: 40px; }

.botForm {
  width: 12%;
  height: 25px;
  font-size: 15px;
  background-color: #f6f8f8;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  color: #0d0d29; }

.botForm:hover {
  cursor: pointer;
  transform: translateY(-3px); }

.botForm:active {
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  background-color: #0d0d29;
  color: white; }

.Parraf1 {
  font-size: 1rem;
  color: #a32742;
  text-align: center;
  margin: 20px; }

.Parraf2 {
  font-size: 2rem;
  color: #ff4e84;
  text-align: center;
  margin: 20px; }

.Parraf3 {
  font-size: 3rem;
  color: #ff75c6;
  text-align: center;
  margin: 20px; }

.nosotrosH1 {
  text-align: center;
  background-color: darkslategray;
  color: white; }

.parrafo {
  font-size: large; }

.contenedorStudio {
  font-family: "Quicksand", sans-serif;
  font-weight: bold; }

.contStudio1 {
  display: flex;
  flex-direction: row;
  margin: 100px;
  text-align: center; }
  .contStudio1 p {
    margin-left: 25px;
    color: teal;
    font-size: 18px; }
  .contStudio1 h2 {
    color: white;
    background-color: teal;
    height: 120px;
    border-radius: 4px; }

.contStudio2 {
  display: flex;
  flex-direction: row-reverse;
  margin: 100px;
  text-align: center; }
  .contStudio2 p {
    margin-right: 25px;
    color: #3a1444;
    font-size: 18px; }
  .contStudio2 h3 {
    background-color: #ad7981;
    color: white;
    width: 400px;
    height: 40px;
    border-radius: 4px; }

.studio {
  margin: 20px; }
  .studio h1 {
    text-align: center;
    font-weight: bolder;
    color: #ff477e;
    background-color: white;
    width: 700px; }
  .studio p {
    margin-top: 25px;
    color: darkslategray;
    font-size: 21px; }

.bodyS {
  background-color: pink; }

.infoS {
  text-align: center;
  font-size: 20px; }
  .infoS a {
    color: #ff6262;
    text-decoration: none;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    background-color: white;
    border-radius: 4px;
    width: 180px; }
  .infoS a:active {
    background-color: #681a4a; }
  .infoS a:hover {
    font-size: 21px; }
