.grid-contenedor {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  text-align: center;
  margin: 50px 50px 50px;
  grid-template-areas: "mainUno mainDos mainTres" "mainCuatro mainCinco mainSeis"; }

.mainUno {
  grid-area: mainUno; }

.mainDos {
  grid-area: mainDos; }

.mainTres {
  grid-area: mainTres; }

.mainCuatro {
  grid-area: mainCuatro; }

.mainCinco {
  grid-area: mainCinco; }

.mainSeis {
  grid-area: mainSeis; }

@media only screen and (max-width: 599px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: auto;
    margin-left: 30px; }
  .main__home h1 {
    width: 300px;
    margin: 10px; }
  .main__home p {
    margin: 5px; }
  .imagM {
    display: none; } }

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .imagM {
    display: none; }
  .main__programa {
    margin: 10px; }
    .main__programa .textoMain {
      background-color: #f1d3d8; }
  .main__btn {
    margin: 50px;
    margin-top: 250px; } }

@media only screen and (max-width: 599px) {
  .Parraf1 {
    width: 320px; }
  .Parraf2 {
    display: none; }
  .Parraf3 {
    display: none; }
  .grid-contenedor .mainUno {
    display: none; }
  .grid-contenedor .mainCinco {
    display: none; }
  .grid-contenedor .mainSeis {
    display: none; }
  .grid-contenedor .mainCuatro {
    display: none; }
  .grid-contenedor .mainTres {
    display: none; }
  .about__div {
    display: none; }
  .parrafo {
    width: 320px;
    font-size: 14px;
    margin: 10px; } }

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .about__div {
    display: none; }
  .parrafo {
    margin: 10px; } }

@media only screen and (max-width: 599px) {
  .Contenedor__contacto {
    width: auto;
    margin: 8px; } }

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .Contenedor__contacto {
    width: auto;
    margin: 12px; } }

@media only screen and (max-width: 599px) {
  .contenedor {
    height: 2000px; }
    .contenedor .contenedor__prog--linea {
      display: inline-block; }
      .contenedor .contenedor__prog--linea .titulo {
        height: 100px; }
      .contenedor .contenedor__prog--linea p {
        text-align: center; }
    .contenedor .contenedor__prog--row {
      display: inline-block;
      margin-left: 45px;
      font-family: "Quicksand", sans-serif;
      font-weight: bolder; } }

@media only screen and (max-width: 599px) and (min-width: 1024px) {
  .contenedor .titulo {
    height: 230px; } }

@media only screen and (max-width: 599px) and (max-width: 599px) {
  .contenedorStudio p {
    display: none; }
  .redesConteiner {
    width: auto;
    height: 200px; } }

@media only screen and (max-width: 599px) and (max-width: 599px) {
  .containerError {
    text-align: center; } }

* {
  margin: 0px;
  padding: 0px; }

.main__home {
  font-family: "Quicksand", sans-serif;
  margin-top: 70px; }
  .main__home p {
    color: darkslategray;
    margin: 35px;
    font-weight: bolder;
    letter-spacing: 3px;
    text-align: center;
    font-size: 18px; }
  .main__home h1 {
    color: #ad7981;
    text-align: center;
    margin-top: 25px;
    background-color: darkslategray;
    margin: 20px;
    font-weight: bold; }

.main__home--img {
  display: flex;
  justify-content: space-around; }

.main__btn {
  text-align: center;
  background-color: darkslategray;
  width: 170px;
  height: 30px;
  border-radius: 4px;
  margin-top: 20px; }
  .main__btn a {
    text-decoration: none;
    font-size: 20px;
    color: #f0b2b2;
    font-family: "Quicksand", sans-serif; }

.boton {
  display: flex;
  justify-content: center; }

.main__programa {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 100px; }
  .main__programa h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #ad7981; }
  .main__programa .textoMain {
    font-size: 22px;
    color: black;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    width: auto;
    margin: 10px; }

.bodyDos {
  background-image: url(../Resources/light-veneer.png); }

.contenedor__prog--linea {
  display: flex;
  flex-direction: row; }
  .contenedor__prog--linea h1 {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    background-color: #ad7981;
    height: 200px;
    margin: 10px;
    color: white; }
  .contenedor__prog--linea p {
    margin: 50px;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: bolder; }

.contenedor__prog--row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  text-align: center; }

.card-body {
  background-color: darkslategray;
  color: white; }

.main__prog {
  font-family: "Quicksand", sans-serif;
  margin-top: 30px; }
  .main__prog h2 {
    text-align: center;
    margin: 50px;
    background-color: #f3d5d5; }
  .main__prog p {
    margin: 20px; }

.main__prog--bolder {
  font-weight: bolder;
  font-size: 17px;
  text-align: center; }

.formulario {
  width: 350px;
  margin: auto;
  background-image: linear-gradient(to bottom, rgba(89, 53, 105, 0.822), #681a4a);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: white; }

.formContacto .control, .formContacto textarea {
  width: 230px;
  margin-bottom: 15px; }

.formContacto textarea {
  min-height: 100px;
  max-height: 100px; }

.control {
  font-size: 18px; }

.control:focus {
  height: 40px; }

.botForm {
  width: 80px;
  margin: 30px;
  margin-top: 15px;
  font-size: 15px;
  background-color: #31384A;
  border-radius: 4px;
  border: none;
  color: white; }

.botForm:hover {
  cursor: pointer;
  transform: translateY(-3px); }

.botForm:active {
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  background-color: white;
  color: #31384A; }

.Parraf1 {
  font-size: 1rem;
  color: #a32742;
  text-align: center;
  margin: 20px; }

.Parraf2 {
  font-size: 2rem;
  color: #ff4e84;
  text-align: center;
  margin: 20px; }

.Parraf3 {
  font-size: 3rem;
  color: #ff75c6;
  text-align: center;
  margin: 20px; }

.bodyNos {
  background-image: url(../Resources/dark_wood.png); }

.nosotrosH1 {
  text-align: center;
  background-color: darkslategray;
  color: white;
  font-family: "Quicksand", sans-serif; }

.parrafo {
  font-size: large; }

.fontNos {
  font-family: "Quicksand", sans-serif; }
  .fontNos .Parraf1 {
    font-weight: bolder; }

.contenedorStudio {
  font-family: "Quicksand", sans-serif;
  font-weight: bold; }

.contStudio1 {
  display: flex;
  flex-direction: row;
  margin: 100px;
  text-align: center; }
  .contStudio1 p {
    margin-left: 20px;
    color: black;
    font-size: 18px; }
  .contStudio1 h2 {
    color: white;
    background-color: teal;
    height: 120px;
    border-radius: 4px; }

.contStudio2 {
  display: flex;
  flex-direction: row-reverse;
  margin: 100px;
  text-align: center; }
  .contStudio2 p {
    margin-right: 25px;
    color: black;
    font-size: 20px; }
  .contStudio2 h3 {
    background-color: #ad7981;
    color: white;
    width: 470px;
    height: 40px;
    border-radius: 4px; }

.mainStudio {
  height: 700px;
  margin: 10px; }

.studio {
  margin: 30px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: white;
  height: auto; }
  .studio h1 {
    font-weight: bolder;
    background-color: #29664f;
    width: 60vw;
    height: auto; }
  .studio p {
    margin-top: 25px;
    color: darkslategray;
    font-size: 21px;
    color: darkslategray;
    font-weight: bold;
    width: auto; }

.bodyS {
  background-image: url(../Resources/full-bloom.png); }

.redesConteiner {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px;
  color: white;
  height: 38px;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 25px;
  font-family: "Quicksand", sans-serif; }
  .redesConteiner .redes {
    margin-top: 25px;
    display: flex;
    justify-content: space-around; }
  .redesConteiner p {
    background-color: #244d3d;
    border-radius: 4px;
    width: auto; }

.Contenedor__contacto {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  margin: 10px; }
  .Contenedor__contacto h1 {
    background-color: #dd5873;
    color: white;
    font-weight: bold; }
  .Contenedor__contacto h2 {
    font-weight: bold;
    color: crimson; }
  .Contenedor__contacto p {
    font-weight: bold;
    color: #ff6262;
    font-size: 18px; }

.contactoB {
  background-image: url(../Resources/email-pattern.png); }

.errorB {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100vh; }
  .errorB .containerError {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Quicksand", sans-serif; }
    .errorB .containerError img {
      width: 50%; }
    .errorB .containerError h1 {
      color: darkslategray;
      font-size: 22px; }
    .errorB .containerError a {
      padding: 13px 30px;
      border-radius: 15px;
      border: none;
      background-color: #ad7981;
      color: #f5e7f4;
      text-decoration: none;
      font-weight: bold; }
