// HOME
@media only screen and (max-width:599px){
    
    
    .main{
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 800px;
        margin-left: 30px;


        .main__home {
            h1{
                width: 300px;
                margin: 10px;
            }
            p{
                margin: 5px;
            }
        }
    }
    

    .imagM {
        display: none;
    }

    .main__programa {
        display: flex;
        flex-direction: column;
        background-color: $primary-color;
        width: 325px;
        height: 350px;
        text-align: center;
        margin: 10px;
        margin-left: 2px;
        
        .textoMain{
            background-color: white;
            width: 325px;
            height: 320px;
            margin: 0;
            font-size: 15px;
        }

    }


    .main__btn {
        margin-top: 60px;
    }
}

@media only screen and (min-width:600px) and (max-width:1024px){
    .imagM {
        display: none;
    }


    

    .main__programa {
            margin: 10px;
            width: 750px;
    }

    .main__btn {
        margin: 50px;
        margin-top: 250px;
    }
}

@media only screen and (min-width:1024px){
    .main__programa{

        h2{
            margin-left: 250px;
        }


        .textoMain{
            width: 1000px;
            margin:5px;
            margin-top: 20px;


        }

        .main__btn{
            margin-top: 0px;
        }
    }

}

// NOSOTROS
@media only screen and (max-width:599px){
    .nosotrosH1 {
        width: 350px;
    }

    .Parraf1 {
        width: 320px;
    }

    .Parraf2 {
        display: none;
    }
    
    .Parraf3 {
        display: none;
    }

    .grid-contenedor {
        display: none;
    }

    .about__div {
        display: none;
    }

    .parrafo {
        width: 320px;
        font-size: 14px;
        margin: 10px;
    }
}

@media only screen and (min-width:600px) and (max-width:1024px){
    .about__div {
        display: none;
    }

    .parrafo {
        margin: 10px;
    }
}

// CONTACTO
@media only screen and (max-width:599px){
    .Contenedor__contacto {
        width: 320px;
    }
}

@media only screen and (min-width:600px) and (max-width:1024px){
    .Contenedor__contacto {
        width: 500px;
        margin: 12px;
    }

}

//PROGRAMAS
@media only screen and (max-width:599px){
    
    .contenedor {
        h1 {
            display: none;
        }
    }
}

@media only screen and (min-width:1024px){
    .contenedor {
        .titulo {
            height: 230px;
        }
    }
}

//STUDIO
@media only screen and (max-width:599px){

    .studio{
        h1{
            display: none;
        }
    }

    .contenedorStudio{
        p{
            display: none;
        }
    }
}

// ERROR

@media only screen and (max-width:599px){
    .containerError{
        text-align: center;
    }
    

}