header {
    color: $primary-color;
    font-family: $primary-font;
    text-align: center;
    font-weight: bold;
    color: $secondary-color;
}

.mat {
    background-color: rgb(233, 110, 110);
    margin: 5px;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
}

.mat1 {
    background-color: cornflowerblue;
    font-family: $primary-font;
    width: 100px;
    margin-left: 180px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.porta {
    background-color: rgb(233, 110, 110);
    margin-left: 80px;
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;

}

.porta1 {
    background-color: cornflowerblue;
    font-family: $primary-font;
    width: 100px;
    margin-left: 150px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    color: white;

}

.bloque {
    background-color: rgb(233, 110, 110);
    margin-left: 80px;
    width: 360px;
    height: 300px;
    display: flex;
    justify-content: center;
}

.bloque1 {
    background-color: cornflowerblue;
    font-family: $primary-font;
    width: 100px;
    height: 25px;
    margin-left: 20px;
    margin-top: 120px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.contenedorBloque {
    display: flex;
    justify-content: flex-end;
}

.mainColor {
    background-color:$primary-color ;
    margin: 30px;
}