@import "./variables";
@import "./nosotros";
@import "./medias";

* {
    margin: 0px;
    padding: 0px;
}

// HOME
.main__home {
    
    font-family: $primary-font;
    margin-top: 70px;

    p {
        color: $primary-color;
        margin: 35px;
        font-weight: bolder;
        letter-spacing: 3px;
        text-align: center;
        font-size: 18px;
    }

    h1 {
        color: $secondary-color;
        text-align: center;
        margin-top: 25px;
        background-color: $primary-color;
        margin: 20px;
        font-weight: bold;
    }

}

.main__home--img {
    display: flex;
    justify-content: space-around;
}


.main__btn {
    text-align: center;
    background-color: $primary-color;
    width: 170px;
    height: 30px;
    border-radius: 4px;
    margin-top: 20px;
    a{
        text-decoration: none;
        font-size: 20px;
        color:rgb(240, 178, 178) ;
        font-family: $primary-font;
        
    }
}

.boton {
    display: flex;
    justify-content: center;

}


.main__programa {
    font-family: $primary-font;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 100px;

    h2{
        font-family: $primary-font;
        font-weight: bold;
        font-size: 35px;
        color: $secondary-color;
    }


    .textoMain {
        font-size: 22px;
        color: black;
        font-weight: bold;
        font-family: $primary-font;
        width: auto;
        margin: 10px;
        }

    }


// PROGRAMAS

.bodyDos{
    background-image: url(../Resources/fabric_of_squares_gray.png);
}
.contenedor__prog--linea {
    display: flex;
    flex-direction: row;
    
    h1 {
        text-align: center;
        font-family: $primary-font;
        font-weight: bolder;
        background-color: $secondary-color;
        height: 200px;
        margin: 10px;
        color: white;
    }

    p {
        margin: 50px;
        font-family: $primary-font;
        font-size: 16px;
        font-weight: bolder;
    }
}

.contenedor__prog--row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
}

.card-body{
    background-color: $primary-color;
    color: white;
}

.main__prog {
    font-family: $primary-font;
    margin-top: 30px;

    h2 {
        text-align: center;
        margin: 50px;
        background-color: rgb(243, 213, 213);
    }

    p {
        margin: 20px;
    }
}

.main__prog--bolder {
    font-weight: bolder;
    font-size: 17px;
    text-align: center;
}

// FORMULARIO CONTACTO


.formulario{
    width: 350px;
    margin: auto;
    background-image: linear-gradient(to bottom, rgba(89, 53, 105, 0.822), rgb(104, 26, 74));
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    font-family: $primary-font;
    font-weight: bold;
    color: white;
    
}

.formContacto{
    .control ,textarea{
        width: 230px;
        margin-bottom: 15px;
    }

    textarea{
        min-height: 100px;
        max-height: 100px;
}
}

.control {
    font-size: 18px;
}

.control:focus {
    height: 40px;
}

.botForm {
    width: 80px;
    margin: 30px;
    margin-top: 15px;
    font-size: 15px;
    background-color: #31384A;
    border-radius: 4px;
    border: none;
    color: white;
}

.botForm:hover {
    cursor: pointer;
    transform: translateY(-3px)
}

.botForm:active {
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.2s;
    background-color: white;
    color: #31384A;
}

// NOSOTROS

@for $i from 1 through 3{
    .Parraf#{$i}{
        font-size: $i*1rem;
        color: rgb(163, 39, 66)*$i;
        text-align: center;
        margin: 20px;
        
    }
}

.bodyNos{
    background-image: url(../Resources/dark_wood.png);
}
.nosotrosH1 {
    text-align: center;
    background-color: $primary-color;
    color: white;
    font-family: $primary-font;

}

.parrafo {
    @if ($color == black){
        font-size: large;
    }@else if ($color == blue){
        font-size: small;
    }@else {
        font-size:medium;
    }
}

.fontNos{
    font-family: $primary-font;

    .Parraf1{
        font-weight: bolder;
    }
}

// STUDIO

.contenedorStudio {
    font-family: $primary-font;
    font-weight: bold;
}

.contStudio1 {
    display: flex;
    flex-direction: row;
    margin: 100px;
    text-align: center;

    p {
        margin-left: 20px;
        color: black;
        font-size: 18px;
    }

    h2 {
        color: white;
        background-color: teal;
        height: 120px;
        border-radius: 4px;
    }
}

.contStudio2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 100px;
    text-align: center;

    p {
        margin-right: 25px;
        color: black;
        font-size: 20px;
    }

    h3 {
        background-color: $secondary-color;
        color: white;
        width: 470px;
        height: 40px;
        border-radius: 4px;
    }
}

.mainStudio{
    height: 700px;
    margin: 10px;
}

.studio {
    margin: 30px;
    font-family: $primary-font;
    text-align: center;
    color: white;
    height: auto;

    h1 {
        font-weight: bolder;
        background-color:rgb(41, 102, 79);;
        width: 60vw;
        height: auto;
    }

    p {
        margin-top: 25px;
        color: $primary-color;
        font-size: 21px;
        color: $primary-color;
        font-weight: bold;
        width: auto;
    }
}

.bodyS {
    background-image: url(../Resources/full-bloom.png);
}

.redesConteiner{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    color: white;
    height: 38px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 25px;
    font-family: $primary-font;

    .redes{
        margin-top: 25px;
        display: flex;
        justify-content: space-around;
    }

    p {
        background-color:rgb(36, 77, 61);
        border-radius: 4px;
        width: auto;
    }
}




// CONTACTO


.Contenedor__contacto{
    text-align: center;
    font-family: $primary-font;
    margin: 10px;

    h1{
        background-color: rgb(221, 88, 115);
        color: white;
        font-weight: bold;
    }

    h2{
        font-weight: bold;
        color: crimson;
    }

    p {
        font-weight: bold;
        color: rgb(255, 98, 98);
        font-size: 18px;
    }
}

.contactoB{
    background-image: url(../Resources/email-pattern.png);
}

// ERROR

.errorB{
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;

    .containerError{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
        height: 100vh;
        font-family: $primary-font;
        img{
            width: 50%;
        }

        h1{
            color: $primary-color;
            font-size: 22px;
        }
        a{
            padding: 13px 30px;
            border-radius: 15px;
            border: none;
            background-color: $secondary-color;
            color: rgb(245, 231, 244);
            text-decoration: none;
            font-weight: bold;
        }
    }

    
}






