<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="PROGRAMAS, FITNESS, RELAJACION, YOGA">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <title>Programas de yoga</title>
</head>
<body class="bodyDos">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">THE YOGA HOUSE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./nosotros.html">¿Quiénes somos?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./studio.html">TYH Studio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./programas.html">Programas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./contacto.html">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./error.html">Redes sociales</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>

    
    <header class="contenedor">
        <!-- TEXTO PROGRAMAS -->
        <div class="contenedor__prog contenedor__prog--linea">
            <h1 class="titulo">Aprende y practica yoga con nuestros programas</h1>
                <p>Durante el desarrollo del programa, en 4 semanas, crearás tu propia rutina adaptada a tus 
                    necesidades para integrar el yoga en tu día a día. No te preocupes si necesitas algo más 
                    de tiempo, tú marcas el ritmo en función de tus necesidades y tus avances. Tendrás acceso 
                    a este contenido para utilizarlo cuando quieras.
                </p>
        </div>

        <!-- PROGRAMAS -->
        <div class="contenedor__prog contenedor__prog--row">
            <div class="card" style="width: 18rem;">
                <img src="../Resources/170006.jpg" class="card-img-top" alt="Iniciacion yoga">
                <div class="card-body">
                <h5 class="card-title">Iniciación al yoga</h5>
                    <p class="card-text">Te permitirá descubrir esta maravillosa disciplina de manera metódica 
                        y práctica</p>
                <a href="./contacto.html" class="btn btn-primary">Más info</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="../Resources/133250.jpg" class="card-img-top" alt="Yoga fit">
            <div class="card-body">
                <h5 class="card-title">Programa FIT+Yoga</h5>
                    <p class="card-text">Para aquellos que quieran desarrollar la disciplina para fortalecer 
                        cuerpo y mente</p>
                <a href="./contacto.html" class="btn btn-primary">Más info</a>
            </div>
        </div>
            
        <div class="card" style="width: 18rem;">
            <img src="../Resources/yoga-teletrabajo-m.jpg" class="card-img-top" alt="yoga teletrabajo">
            <div class="card-body">
                <h5 class="card-title">Yoga y meditación</h5>
                    <p class="card-text">Te ayudará a establecer una rutina de hábitos saludables, autocuidado 
                        y autorregulación emocional</p>
                <a href="./contacto.html" class="btn btn-primary">Más info</a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="main__prog">
            <div class="main__prog">
                <h2>Estudio online de The Yoga House</h2>
            </div>
            <div class="main__prog">
                <p class="main__prog main__prog--bolder">Si, además de tu programa, quieres disfrutar de vídeos de yoga de alta calidad y 
                    contenidos exclusivos, <a href="./contacto.html">suscríbete</a> al Estudio Online de yoga en español.</p>
            </div>
        </div>
    </main>
    
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="../index.html" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="./nosotros.html" class="nav-link px-2 text-muted">Nosotros</a></li>
        <li class="nav-item"><a href="./contacto.html" class="nav-link px-2 text-muted">Contacto</a></li>
        <li class="nav-item"><a href="./error.html" class="nav-link px-2 text-muted">Redes sociales</a></li>
        </ul>
        <p class="text-center text-muted">© 2021 Company, Inc</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>

</html>